/*----------------------------
      layout
 ----------------------------*/
main {
  margin: 0 1.5rem 0;

  @media only screen and (min-width: $tablet) {
    margin: 0 1.875rem 0;
  }

  @media only screen and (min-width: $desktop) {
    margin: 0 clamp(7.5rem, 11.71875vw, 10.25rem) 0;
  }
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.page-wrapper {
  max-width: 100rem;
}
/*----------------------------
      header section
----------------------------*/

.header {
  padding: 2.5rem 1.5rem 0;
  background-image: linear-gradient($gray-layer, $gray-layer),
    url("../images/mobile/image-hero.jpg");
  height: 40.625rem;
  background-size: cover;
  position: relative;

  @media only screen and (min-width: $tablet) {
    background-image: linear-gradient($gray-layer, $gray-layer),
      url("../images/desktop/image-hero.jpg");
    height: 100vh;
    max-height: 38.125rem;
    background-position: top center;
    padding: 2.5rem 2.1875rem 0;
  }

  @media only screen and (min-width: $desktop) {
    padding: 4rem clamp(7.5rem, 11.5vw, 10.3125rem) 0;
    max-height: 36.625rem;
  }

  &__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__logo {
    z-index: 5;
  }

  &__logo img {
    height: 1.5rem;

    @media only screen and (min-width: $desktop) {
      height: 2rem;
    }
  }

  &__hamburger {
    display: block;
    position: relative;
    width: 1rem;
    height: 1.4375rem;
    right: 0;
    border: none;
    z-index: 5;

    @media only screen and (min-width: $tablet) {
      display: none;
    }
  }

  &__hamburger-icon,
  &__hamburger-icon:before,
  &__hamburger-icon:after {
    content: "";
    position: absolute;
    height: 0.1875rem;
    width: 1rem;
    background: $white;
    transition: all 0.4s ease;
    display: block;
  }

  &__hamburger-icon {
    top: 0.625rem;
    right: 0rem;
  }

  &__hamburger-icon:before {
    top: -0.3125rem;
  }

  &__hamburger-icon:after {
    top: 0.3125rem;
  }

  &__hamburger--active &__hamburger-icon {
    transform: rotate(-135deg);
  }

  &__hamburger--active &__hamburger-icon:before,
  &__hamburger--active &__hamburger-icon:after {
    top: 0;
  }

  &__hamburger--active &__hamburger-icon:before {
    transform: rotate(90deg);
  }

  &__nav-items {
    position: absolute;
    visibility: hidden;
    top: 0;
    left: 0;
    width: 100%;
    height: 0vh;
    background: $black;
    opacity: 0;
    transition: all 1s ease;
    padding: 9.9375rem 1.5rem 0;

    @media only screen and (min-width: $tablet) {
      all: unset;
      list-style-type: none;
      display: flex;
      gap: 2rem;
    }
  }

  &__nav-items.show {
    height: 100vh;
    opacity: 1;
    visibility: visible;
    z-index: 4;
  }

  &__nav-item {
    font-family: Josefin Sans;
    font-size: 1.5rem;
    line-height: 1.5625rem;
    color: $white;
    margin: 0 0 1.5rem;
    text-transform: uppercase;

    @media only screen and (min-width: $tablet) {
      font-family: Alata;
      font-size: 0.9375rem;
      font-weight: 300;
      line-height: 1.5625rem;
      text-transform: none;
      margin: 0;
    }
  }

  &__box {
    margin: 10.1875rem 0 0;
    border: 0.125rem solid $white;
    padding: 1.5rem;

    @media only screen and (min-width: $tablet) {
      margin: 7.6875rem 0 0;
      width: clamp(29.6875rem, 50vw, 61.0625rem);
    }

    @media only screen and (min-width: $desktop) {
      margin: 8.0625rem 0 0;
      width: 35.625rem;
      padding: 2.5rem 2.375rem 1.6875rem 2.5rem;
    }
  }

  &__heading {
    font-size: clamp(2rem, 10.6666666667vw, 3rem);
    font-weight: 300;
    line-height: clamp(1.875rem, 10.1333333333vw, 2.875rem);
    color: $white;
    max-width: 11.3984rem;

    @media only screen and (min-width: $desktop) {
      font-size: 4.5rem;
      line-height: 4.375rem;
      max-width: 40.625rem;
    }
  }
}

/*----------------------------
      info section
----------------------------*/

.info {
  margin: 6rem 0 0;

  @media only screen and (min-width: $tablet) {
    display: grid;
    grid-template-columns: 51% 15% 34%;
    align-items: end;
    max-width: 48.125rem;
    margin: 6rem auto 0;

    @media only screen and (min-width: $desktop) {
      max-width: unset;
      margin: 10rem 0 0;
    }
  }

  &__image {
    position: relative;
    @media only screen and (min-width: $tablet) {
      grid-column: 1/3;
      grid-row: 1;
      z-index: -1;
    }
  }

  .info__image::after {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(
      180deg,
      rgba(0, 0, 0, 0.0001) 0%,
      rgba(0, 0, 0, 0.601863) 100%
    );
  }

  &__text {
    margin: 3rem 0 0;
    text-align: center;
    color: $black;

    @media only screen and (min-width: $tablet) {
      grid-column: 2/4;
      grid-row: 1;
      background: white;
      margin: 0;
      padding: clamp(1.25rem, 2.8571428571vw, 2.8571428571vw) 0 0
        clamp(1.25rem, 2.8571428571vw, 2.8571428571vw);
    }

    @media only screen and (min-width: $desktop) {
      padding: clamp(1.875rem, 6.7vw, 6rem) 0 0 clamp(1.875rem, 6.7vw, 6rem);
      text-align: left;
    }
  }

  &__heading {
    font-family: Josefin Sans;
    font-size: 2rem;
    font-weight: 300;
    line-height: 2rem;
    color: $black;

    @media only screen and (min-width: $desktop) {
      font-size: clamp(2rem, 3.5vw, 3rem);
      line-height: clamp(2rem, 3.5vw, 3rem);
    }
  }

  &__paragraph {
    font-family: Alata;
    font-size: 0.9375rem;
    font-weight: 300;
    line-height: 1.5625rem;
    opacity: 0.5;
    max-width: 74.4vw;
    margin: 1rem auto 6rem;

    @media only screen and (min-width: $tablet) {
      margin: 0 auto;
    }

    @media only screen and (min-width: $desktop) {
      margin: clamp(0rem, 2vw, 1.75rem) 0 0;
    }
  }
}

/*----------------------------
      creations section
----------------------------*/

.creations {
  margin: 6rem 0 6rem;

  @media only screen and (min-width: $tablet) {
    max-width: 48.125rem;
    margin: 6rem auto 0;
  }

  @media only screen and (min-width: $desktop) {
    max-width: unset;
    display: grid;
    margin: 11.5rem 0;
  }

  &__heading {
    font-size: 2rem;
    font-weight: 300;
    line-height: 2rem;
    text-align: center;
    color: $black;
    margin: 0 0 3rem;

    @media only screen and (min-width: $desktop) {
      font-size: 3rem;
      line-height: 3rem;
      text-align: left;
      margin: 0 0 5rem;
    }
  }

  &__gallery {
    display: grid;
    grid-template-columns: 1fr;
    gap: 1.5rem;

    @media only screen and (min-width: $tablet) {
      grid-template-columns: 1fr 1fr;
    }

    @media only screen and (min-width: $desktop) {
      grid-column: 1 /3;
      grid-template-columns: 1fr 1fr 1fr 1fr;
      gap: 1.875rem;
    }
  }

  &__link-container {
    position: relative;
    display: block;
    transition: 0.5s ease;
  }

  &__link-container:hover {
    transform: scale(1.05);
  }

  &__heading--three {
    position: absolute;
    font-size: 1.5rem;
    font-weight: 300;
    line-height: 1.5rem;

    z-index: 2;
    color: $white;
    left: 1.25rem;
    bottom: 1.25rem;

    span {
      display: block;
    }

    @media only screen and (min-width: $desktop) {
      font-size: clamp(1.5rem, 2.5vw, 2rem);
      line-height: clamp(1.5rem, 2.5vw, 2rem);
      left: clamp(1.25rem, 3.3333333333vw, 2.5rem);
      bottom: clamp(1.25rem, 2.8333333333vw, 2.125rem);
    }
  }
  &__button {
    display: flex;
    justify-content: center;
    margin: 2.125rem auto 6rem;
    border: 0.0625rem solid $black;
    padding: 0.8125rem 0;
    width: clamp(9.8125rem, 41.8666666667vw, 25rem);
    font-size: 0.875rem;
    font-weight: 400;
    line-height: 0.875rem;
    letter-spacing: 0.3125rem;
    background: transparent;
    transition: 0.5s ease;

    @media only screen and (min-width: $desktop) {
      grid-row: 1;
      margin: 0;
      grid-column: 2;
      align-self: flex-start;
      width: 9.5625rem;
      margin-left: auto;
    }
  }

  &__button:hover {
    background: $black;
    color: $white;
  }
}

picture::after {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(
    180deg,
    rgba(0, 0, 0, 0.0001) 0%,
    rgba(0, 0, 0, 0.601863) 100%
  );
}

.creations__link-container:hover:after {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(
    180deg,
    rgba(255, 255, 255, 0.7),
    rgba(255, 255, 255, 0.55)
  );
}

.creations__gallery a:hover h3 {
  color: black;
}

/*----------------------------
      footer section
----------------------------*/

.footer {
  background: $black;
  padding: 3.5rem 3.1875rem;

  @media only screen and (min-width: $desktop) {
    padding: 2.75rem clamp(7.5rem, 11.71875vw, 10.25rem);
  }

  &__container {
    display: grid;
    justify-items: center;

    @media only screen and (min-width: $desktop) {
      grid-template-columns: auto auto;
      justify-content: space-between;
      justify-items: unset;
      gap: 1.375rem;
    }
  }

  &__logo img {
    width: 9rem;
  }

  &__navigation {
    margin: 2rem 0 3rem;

    @media only screen and (min-width: $desktop) {
      margin: 0;
    }
  }

  &__nav-items {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    font-size: 0.9375rem;
    font-weight: 300;
    line-height: 1.5625rem;
    color: $white;

    @media only screen and (min-width: $desktop) {
      flex-direction: row;
      gap: 2rem;
    }
  }

  &__social-media {
    display: flex;
    align-items: center;
    gap: 1rem;

    @media only screen and (min-width: $desktop) {
      grid-row: 1;
      grid-column: 2;
      justify-content: flex-end;
    }
  }

  &__copyright {
    font-size: 0.9375rem;
    line-height: 1.5625rem;
    font-weight: 300;
    margin: 1rem 0 0;
    color: hsla(0, 0%, 100%, 0.5);
    text-align: center;

    @media only screen and (min-width: $desktop) {
      margin: 0;
    }
  }
}
