/*----------------------------
      layout
 ----------------------------*/
 main {
  margin: 0 24px 0;

  @media only screen and (min-width: $tablet) {
    margin: 0 30px 0;
  }

  @media only screen and (min-width: $desktop) {
    margin: 0 clamp(120px, 11.71875vw, 164px) 0;
  }
}
/*----------------------------
      header section
----------------------------*/

.header {
  padding: 40px 24px 0;
  // background: url(../images/mobile/image-hero.jpg) no-repeat;
  background-image: linear-gradient($gray-layer, $gray-layer),
    url("../images/mobile/image-hero.jpg");
  height: 650px;
  background-size: cover;
  position: relative;

  @media only screen and (min-width: $tablet) {
    // background: url(../images/desktop/image-hero.jpg) no-repeat;
    background-image: linear-gradient($gray-layer, $gray-layer),
      url("../images/desktop/image-hero.jpg");
    height: 100vh;
    max-height: 610px;
    background-position: top center;
    padding: 40px 35px 0;
  }

  @media only screen and (min-width: $desktop) {
    padding: 64px clamp(120px, 11.5vw, 165px) 0;
    max-height: 586px;
  }

  &__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__logo {
    z-index: 5;
  }

  &__logo img {
    height: 24px;

    @media only screen and (min-width: $desktop) {
      height: 32px;
    }
  }

  // &__navigation {
  //   // position: relative;
  // }

  &__hamburger {
    display: block;
    position: relative;
    width: 16px;
    height: 23px;
    right: 0;
    border: none;
    z-index: 5;

    @media only screen and (min-width: $tablet) {
      display: none;
    }
  }

  &__hamburger-icon,
  &__hamburger-icon:before,
  &__hamburger-icon:after {
    content: "";
    position: absolute;
    height: 3px;
    width: 16px;
    background: $white;
    transition: all 0.4s ease;
    display: block;
  }

  &__hamburger-icon {
    top: 10px;
    right: 0px;
  }

  &__hamburger-icon:before {
    top: -5px;
  }

  &__hamburger-icon:after {
    top: 5px;
  }

  &__hamburger--active &__hamburger-icon {
    transform: rotate(-135deg);
  }

  &__hamburger--active &__hamburger-icon:before,
  &__hamburger--active &__hamburger-icon:after {
    top: 0;
  }

  &__hamburger--active &__hamburger-icon:before {
    transform: rotate(90deg);
  }

  &__nav-items {
    position: absolute;
    visibility: hidden;
    // display: none;
    top: 0;
    left: 0;
    width: 100%;
    height: 0vh;
    background: $black;
    opacity: 0;
    transition: all 1s ease;
    padding: 159px 24px 0;

    @media only screen and (min-width: $tablet) {
      all: unset;
      list-style-type: none;
      display: flex;
      gap: 32px;
    }
  }

  &__nav-items.show {
    height: 100vh;
    opacity: 1;
    visibility: visible;
    z-index: 4;
  }

  &__nav-item {
    font-family: Josefin Sans;
    font-size: 24px;
    line-height: 25px;
    color: $white;
    margin: 0 0 24px;
    text-transform: uppercase;

    @media only screen and (min-width: $tablet) {
      font-family: Alata;
      font-size: 15px;
      font-weight: 300;
      line-height: 25px;
      text-transform: none;
      margin: 0;
    }
  }

  &__box {
    margin: 163px 0 0;
    border: 2px solid #ffffff;
    padding: 24px;

    @media only screen and (min-width: $tablet) {
      margin: 123px 0 0;
      width: clamp(475px, 50vw, 977px);
    }

    @media only screen and (min-width: $desktop) {
      margin: 129px 0 0;
      width: 570px;
      padding: 40px 38px 27px 40px;
    }
  }

  &__heading {
    font-size: clamp(32px, 10.6666666667vw, 48px);
    font-weight: 300;
    line-height: clamp(30px, 10.1333333333vw, 46px);
    color: $white;
    max-width: 182.375px;

    @media only screen and (min-width: $desktop) {
      font-size: 72px;
      line-height: 70px;
      max-width: 650px;
    }
  }
}

/*----------------------------
      info section
----------------------------*/

.info {
  margin: 96px 0 0;

  @media only screen and (min-width: $tablet) {
    display: grid;
    // grid-template-columns: 1fr minmax(153px, auto) 1fr;
    grid-template-columns: 51% 15% 34%;
    // grid-template-rows: 36.6% 63.4%;
    align-items: end;
    max-width: 770px;
    margin: 96px auto 0;

    @media only screen and (min-width: $desktop) {
      max-width: unset;
      margin: 160px 0 0 ;
    }
  }

  &__image {
    position: relative;
    @media only screen and (min-width: $tablet) {
      grid-column: 1/3;
      grid-row: 1;
      // grid-row: 1/-1;

      z-index: -1;
    }
  }

  .info__image::after {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(
      180deg,
      rgba(0, 0, 0, 0.0001) 0%,
      rgba(0, 0, 0, 0.601863) 100%
    );
  }

  &__text {
    margin: 48px 0 0;
    text-align: center;
    color: $black;

    @media only screen and (min-width: $tablet) {
      grid-column: 2/4;
      // grid-row: 2/-1;
      grid-row: 1;
      background: white;
      margin: 0;
      padding: clamp(20px, 2.8571428571vw, 2.8571428571vw) 0 0
        clamp(20px, 2.8571428571vw, 2.8571428571vw);
    }

    @media only screen and (min-width: $desktop) {
      padding: clamp(30px, 6.7vw, 96px) 0 0 clamp(30px, 6.7vw, 96px);
      text-align: left;
    }
  }

  &__heading {
    font-family: Josefin Sans;
    font-size: 32px;
    font-weight: 300;
    line-height: 32px;
    color: $black;

    @media only screen and (min-width: $desktop) {
      font-size: clamp(32px, 3.5vw, 48px);
      line-height: clamp(32px, 3.5vw, 48px);
    }
  }

  &__paragraph {
    font-family: Alata;
    font-size: 15px;
    font-weight: 300;
    line-height: 25px;
    opacity: 0.5;
    // margin: 16px 0 96px;
    max-width: 74.4vw;
    margin: 16px auto 96px;

    @media only screen and (min-width: $tablet) {
      margin: 0 auto;
    }

    @media only screen and (min-width: $desktop) {
      margin: clamp(0px, 1vw, 28px) 0 0;
      // margin: 16px 0 0;
    }
  }
}

/*----------------------------
      creations section
----------------------------*/

.creations {
  margin: 96px 0 96px;

  @media only screen and (min-width: $tablet) {
    max-width: 770px;
    margin: 96px auto 0;
  }

  @media only screen and (min-width: $desktop) {
    max-width: unset;
  }

  &__heading {
    font-size: 32px;
    font-weight: 300;
    line-height: 32px;
    text-align: center;
    color: $black;
    margin: 0 0 48px;
  }

  &__gallery {
    display: grid;
    grid-template-columns: 1fr;
    gap: 24px;

    @media only screen and (min-width: $tablet) {
      grid-template-columns: 1fr 1fr;
    }

    @media only screen and (min-width: $desktop) {
      grid-template-columns: 1fr 1fr 1fr 1fr;
    }
  }

  &__link-container {
    position: relative;
    display: block;
  }

  &__heading--three {
    position: absolute;
    font-size: 24px;
    font-weight: 300;
    line-height: 24px;

    z-index: 2;
    color: $white;
    left: 20px;
    bottom: 20px;

    span {
      display: block;
    }
  }
  &__button {
    display: flex;
    justify-content: center;
    margin: 34px auto 96px;
    border: 1px solid black;
    padding: 13px 0;
    width: clamp(157px, 41.8666666667vw, 400px);
    font-size: 14px;
    font-weight: 400;
    line-height: 14px;
    letter-spacing: 5px;
  }
}

picture::after {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(
    180deg,
    rgba(0, 0, 0, 0.0001) 0%,
    rgba(0, 0, 0, 0.601863) 100%
  );
}

/*----------------------------
      footer section
----------------------------*/

.footer {
  background: $black;
  padding: 56px 51px;
  display: grid;
  justify-items: center;

  &__logo img {
    width: 144px;
  }

  &__navigation {
    margin: 32px 0 48px;
  }

  &__nav-items {
    display: flex;
    flex-direction: column;
    gap: 16px;
    font-size: 15px;
    font-weight: 300;
    line-height: 25px;
    color: $white;
  }

  &__social-media {
    display: flex;
    align-items: center;
    gap: 16px;
  }

  &__copyright {
    font-size: 14px;
    font-weight: 300;
    line-height: 25px;
    margin: 16px 0 0;
    color: hsla(0, 0%, 100%, 0.5);
    text-align: center;
  }
}
